<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" th:href="@{/admin/images/logo-ico.png}"/>
	<link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/materialdesignicons.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/style.min.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>关注</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container" style="background: #fff; padding: 20px;">
				<div class="position-relative">
					<!-- 选项 -->
					<ul class="nav nav-tabs mb-3">
						<li class="nav-item">
							<a class="nav-link position-relative " th:href="@{|/user/${user.id}/following/|}"><i
									class="text-info" th:utext="${user.nickName}">水军一号</i> 关注的人</a>
						</li>
						<li class="nav-item">
							<a class="nav-link position-relative active" th:href="@{|/user/${user.id}/followers/|}">关注 <i
									class="text-info" th:utext="${user.nickName}">水军一号</i> 的人</a>
						</li>
					</ul>
					<a th:href="@{|/user/${user.id}|}" class="text-muted position-absolute rt-0" >返回 <i
							class="text-info" th:utext="${user.nickName}"></i> 的个人主页&gt;</a>
				</div>
				
				<!-- 粉丝列表 -->
				<ul class="list-unstyled">
					<li class="media pb-3 pt-3 mb-3 border-bottom position-relative" th:each="map:${followerUsers}">
						<a th:href="@{|/user/${map.followerUser.id}|}">
							<img th:src="${map.followerUser.avatar}" class="mr-4 rounded-circle user-header" alt="用户头像" >
						</a>
						<div class="media-body">
							<h6 class="mt-0 mb-3">
								<span class="text-success" th:utext="${map.followerUser.nickName}">水军二号</span>
								<span class="float-right text-muted font-size-12">关注于 <i
										th:text="${#dates.format(map.followerTime,'yyyy-MM-dd HH:mm:ss')}">2022-02-14
									17:00:00</i></span>
							</h6>
							<div>
								<input type="hidden" id="entityId" th:value="${map.followerUser.id}">
								<button type="button"
										th:class="|btn ${map.isFollowed?'btn-secondary':'btn-info'} btn-sm float-right follow-btn|"
										th:if="${loginUser!=null && loginUser.id!=map.followerUser.id}"
										th:text="${map.isFollowed?'已关注':'关注TA'}">关注TA</button>
							</div>
						</div>
					</li>

				</ul>
				<!-- 分页 -->
				<nav class="mt-5" th:replace="index::pagination">
				</nav>
			</div>
		</div>

		<div id="toTop"  style="display: none;">
			<i class="mid mdi mdi-apple-keyboard-shift"></i>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer">
		</footer>
	</div>

	<script th:src="@{/admin/js/jquery.min.js}" crossorigin="anonymous"></script>
	<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>-->
	<script th:src="@{/admin/js/popper.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/admin/js/bootstrap.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/profile.js}"></script>
</body>
</html>
