<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/materialdesignicons.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/style.min.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/messages.css}" />
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>通知</title>
	<style>
	.notice-list > li {
		border-bottom: 1px solid rgba(77, 82, 89, 0.05);
		margin-bottom: 10px;
	}
	.media-body .title,.media-body .comment{
		font-size: 14px;
		color: #33cabb;
	}
	.pull-right {
		float: right!important;
	}
	</style>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<div class="position-relative">
					<!-- 选项 -->
					<ul class="nav nav-tabs mb-3">
						<li class="nav-item" style="margin-right: 30px;">
							<a  th:class="|nav-link position-relative ${topic.equals('follow')?'active':''}|" th:href="@{/notice/follow}">
								<i class="mdi mdi-heart-outline fs-18"></i> 关注我的
							</a>
						</li>
						<li class="nav-item" style="margin-right: 30px;">
							<a th:class="|nav-link position-relative ${topic.equals('comment')?'active':''}|" th:href="@{/notice/comment}" >
								<i class="mdi mdi-comment-processing-outline fs-18"></i> 收到的评论
								<span style="position: absolute;top: 12px;right: -5px;" class="badge badge-danger badge-pill" th:text="${commentUnreadCount!=0?commentUnreadCount:''}"></span>
							</a>
						</li>
						<li class="nav-item">
							<a th:class="|nav-link position-relative ${topic.equals('like')?'active':''}|" th:href="@{/notice/like}" >
								<i class="mdi mdi-thumb-up-outline fs-18"></i> 收到的点赞
								<span class="badge badge-danger badge-pill" th:text="${likeUnreadCount!=0?likeUnreadCount:''}">10</span></a>
						</li>
					</ul>

				</div>
				
				<!-- 通知列表 -->
				<ul class="list-unstyled mt-4 notice-list">
					<li class="pb-3 pt-3 mb-2"  th:if="${notices!=null}" th:each="map:${notices}">
						<div class="media">
							<a th:href="@{|/user/${map.user.id}|}" target="_blank">
						<img th:src="${map.user.avatar}" class="mr-4 rounded-circle user-header" alt=""></a>
							<div class="media-body">
								<!--关注-->
								<p th:if="${topic.equals('follow')}">
									<a style="font-size: 15px;" th:utext="${map.user.nickName}">user</a>关注了你，
									<a class="text-primary" th:href="@{|/user/${map.user.id}|}">点击查看</a>
									<a class="pull-right text-fade"
									   th:text="${#dates.format(map.notice.createTime,'yyyy-MM-dd HH:mm:ss')}">2022-02-15 17:00:00</a>
								</p>
								<!--评论-->
								<div th:if="${topic.equals('comment')}">
									<a class="pull-right text-fade"
									   th:text="${#dates.format(map.notice.createTime,'yyyy-MM-dd HH:mm:ss')}">2022-02-15 17:00:00</a>
									<span>
									<a style="font-size: 15px;" th:utext="${map.user.nickName}">user</a> :
										<i th:utext="${map.reply}"></i>
									</span>
									</br>
									<span>
									<i th:text="${map.entityType==1?'评论':'回复'}"></i>了我的<b
										th:text="${map.entityType==1?'文章':'评论'}">文章</b> :
									<a class="comment" th:href="@{|/article/${map.articleId}|}"
									   th:utext="${map.comment}">我的评论</a>
									<i th:text="${#strings.isEmpty(map.comment) ? '' :' > '}"></i>
									<a class="title" th:href="@{|/article/${map.articleId}|}"
									   th:utext="${map.title}">文章标题</a>
									</span>
								</div>
								<!--点赞-->
								<p th:if="${topic.equals('like')}">
									<a style="font-size: 15px;" th:utext="${map.user.nickName}">user</a>
									点赞了你的<b th:text="${map.entityType==1?'文章':'评论'}">文章</b>，
									<a class="comment" th:href="@{|/article/${map.articleId}|}"
									   th:utext="${map.comment}">我的评论</a>
									<i th:text="${#strings.isEmpty(map.comment) ? '' :' > '}"></i>
									<a class="title" th:href="@{|/article/${map.articleId}|}" th:utext="${map.title}">文章标题</a>
									<a class="pull-right text-fade" th:text="${#dates.format(map.notice.createTime,'yyyy-MM-dd HH:mm:ss')}">2022-02-15 17:00:00</a>
								</p>
							</div>
						</div>
					</li>

				</ul>


				<div class="mt-4" th:if="${#lists.isEmpty(notices)}" style="padding: 120px 0;text-align: center;">
					<a style="color: #d3d3d3;"><i class="mdi mdi-48px mdi-bell-outline fs-22"></i></a></br>
					<p style="color: #d3d3d3; font-size: 18px;">空空如也 ~ ~</p>
				</div>


				<!-- 分页 -->
				<nav class="mt-5" th:replace="index::pagination">
				</nav>
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer">

		</footer>
	</div>
	<script th:src="@{/admin/js/jquery.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/admin/js/popper.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/admin/js/bootstrap.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
</body>
</html>
