<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" th:href="@{/admin/images/logo-ico.png}"/>
	<link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}"  />
	<link rel="stylesheet" th:href="@{/admin/css/materialdesignicons.min.css}"  />
	<link rel="stylesheet" th:href="@{/admin/css/style.min.css}" />
	<title>注册</title>
	<style>
		.register-form .has-feedback {
			position: relative;
		}
		.register-form .has-feedback .form-control {
			padding-left: 36px;
		}
		.register-form .has-feedback .mdi {
			position: absolute;
			top: 0;
			left: 0;
			right: auto;
			width: 36px;
			height: 36px;
			line-height: 36px;
			z-index: 4;
			color: #dcdcdc;
			display: block;
			text-align: center;
			pointer-events: none;
		}
		.register-form .has-feedback.row .mdi {
			left: 15px;
		}
	</style>
</head>
<body class="center-vh" th:style="'background: url(admin/images/login-bg-2.jpg); background-size: cover;'" >
	<div class="card card-shadowed p-5 w-420 mb-0 mr-2 ml-2">
		<div class="text-center mb-3">
			<a> <img  th:src="@{/img/logo-sidebar.png}"> </a>
		</div>
		<form method="post" th:action="@{/register}" class="register-form">
			<div class="form-group has-feedback">
				<span class="mdi mdi-account" aria-hidden="true"></span>
				<input type="text"
					   th:class="|form-control ${accountMsg!=null?'is-invalid':''}|"
					   th:value="${user!=null?user.account:''}" id="account" name="account" placeholder="请输入您的账号！" required>
				<div class="invalid-feedback" th:text="${accountMsg}"></div>
			</div>
			<div class="form-group has-feedback">
				<span class="mdi mdi-account" aria-hidden="true"></span>
				<input type="text"
					   th:class="|form-control ${nameMsg!=null?'is-invalid':''}|"
					   th:value="${user!=null?user.nickName:''}"
					   id="nickName" name="nickName" placeholder="请输入您的昵称！" required>
				<div class="invalid-feedback" th:text="${nameMsg}">
								昵称不能为空!</div>
			</div>
			<div class="form-group has-feedback">
						<span class="mdi mdi-lock" aria-hidden="true"></span>
						<input type="password"
							   th:class="|form-control ${passwordMsg!=null?'is-invalid':''}|"
							   th:value="${user!=null?user.password:''}"
							   id="password" name="password" placeholder="密码至少6位！" required>
						<div class="invalid-feedback" th:text="${passwordMsg}">
								密码长度不能小于8位!
						</div>
					</div>
			<div class="form-group has-feedback">
				<span class="mdi mdi-lock" aria-hidden="true"></span>
				<input type="password"
					   th:class="|form-control ${confirmPasswordMsg!=null?'is-invalid':''}|"
					   th:value="${param.confirmPassword}" id="confirmPassword" name="confirmPassword" placeholder="请输入确认密码！" required>
				<div class="invalid-feedback" th:text="${confirmPasswordMsg}">
					两次输入的密码不一致!
				</div>
			</div>
			<div class="form-group has-feedback">
				<span class="mdi mdi-email" aria-hidden="true"></span>
				<input type="email"
					   th:class="|form-control ${emailMsg!=null?'is-invalid':''}|"
					   th:value="${user!=null?user.email:''}"
					   id="email" name="email" placeholder="需要通过邮件激活账户！" required>
				<div class="invalid-feedback" th:text="${emailMsg}">
								该邮箱已注册!
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-block btn-primary">立即注册</button>
			</div>
		</form>

		<p class="text-center text-muted mb-0">Copyright © 2022 <a th:href="@{/index}">CC博客</a>. All right
					reserved</p>
	</div>
	<div>
		<input type="hidden" th:value="${msg}" id="msg">
		<input type="hidden" th:value="${target}" id="target">
	</div>
	<script th:src="@{/admin/js/jquery.min.js}"></script>
	<script th:src="@{/admin/js/popper.min.js}"></script>
	<script th:src="@{/admin/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/global.js}"></script>
</body>
</html>
