<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" th:href="@{/admin/images/logo-ico.png}"/>
	<link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}"  />
	<link rel="stylesheet" th:href="@{/admin/css/materialdesignicons.min.css}"  />
	<link rel="stylesheet" th:href="@{/admin/css/style.min.css}" />
	<link rel="stylesheet" th:href="@{/css/global.css}"  />
	<title>搜索结果</title>
	<style>
		.container-fluid{
			padding-top:60px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 auto;
			/*min-height: 80vh;*/
			height: 100%;
			width: 100%;
		}
	</style>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">

		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container-fluid">
				<div style="background: #fff;width:1200px;height: 100%;border-radius: 3px;margin-bottom: 70px;">
					<h6 class="mt-3 pl-4 pb-2"><b class="square"></b> 相关文章，共有<i style="color:red;" th:text="${searchCount}"></i>篇</h6>
					<!-- 文章列表 -->
					<div class="article-list border-bottom" th:each="map:${articleLists}" style="padding:
							 15px 20px;">
							<p class="article-item-message">
								<span>
									<a th:href="@{|/user/${map.user.id}|}">
									<img th:src="${map.user.avatar}" class="rounded-circle" alt="用户头像"
										 style="width:25px;height:25px;">
								</a>
								</span>
								<span class="ml-2" th:utext="${map.user.nickName}">cc</span>
								<span class="d-inline ml-2">|</span>
								<span class="d-inline ml-2" th:text="${#dates.format(map.article.createTime,'yyyy-MM-dd HH:mm:ss')}">2022-01-23 16:40:49</span>
								<span class="d-inline ml-2">|</span>
								<span class="ml-2 d-inline"><a class="type_tag"
															   th:href="@{|/category/${map.article.categoryId}|}"
															   th:text="${map.category.name}">测试</a>
								</span>
							</p>
							<div class="title-line">
								<h2>
									<a th:href="@{|/article/${map.article.id}|}" th:utext="${map.article.title}">文章标题
									</a>
									<span class="badge badge-secondary bg-primary" th:if="${map.article.top==1}">置顶</span>
									<span class="badge badge-secondary bg-danger" th:if="${map.article.marrow==1}">加精</span>
								</h2>
							</div>
							<div class="article-content-box">
								<a th:href="@{|/article/${map.article.id}|}">
									<p th:utext="${map.article.content}">文章内容</p></a>
							</div>
							<div class="text-muted font-size-14">
								<span class="d-inline ml-2"><i class="mdi mdi-thumb-up-outline"></i>&nbsp;<i
										th:text="${map.likeCount}">1</i></span>
								<span class="d-inline ml-2">|</span>
								<span class="d-inline ml-2"><i class="mdi mdi-comment-processing-outline"></i>&nbsp;
									<i th:text="${map.article.commentCount}">7
									</i></span>
							</div>
						</div>

					<div class="mt-4" th:if="${#lists.isEmpty(articleLists)}" style="padding: 120px 0;text-align: center;">
						<a style="color: #d3d3d3;"><i class="mdi mdi-48px mdi-magnify fs-22"></i></a></br>
						<p style="color: #d3d3d3; font-size: 18px;">暂无相关结果 ~ ~</p>
					</div>
					<!-- 分页 -->
					<nav class="mt-5" th:replace="index::pagination">
					</nav>
			  </div>
			</div>
		</div>


		<div id="toTop"  style="display: none;">
			<i class="mid mdi mdi-apple-keyboard-shift"></i>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer">
		</footer>
	</div>

	<script th:src="@{/admin/js/jquery.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/admin/js/popper.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/admin/js/bootstrap.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
</body>
</html>
