<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}"  />
	<link rel="stylesheet" th:href="@{/admin/css/materialdesignicons.min.css}"  />
	<link rel="stylesheet" th:href="@{/admin/css/style.min.css}" />
	<link rel="stylesheet" th:href="@{/css/global.css}"  />
	<title>搜索结果</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">

		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<h6><b class="square"></b> 相关文章，共有<i style="color:red;" th:text="${searchCount}"></i>篇</h6>
				<!-- 帖子列表 -->
				<ul class="list-unstyled mt-4">
					<li class="media pb-3 pt-3 mb-3 border-bottom" th:if="articleLists!=null" th:each="map:${articleLists}">
						<img th:src="${map.user.avatar}" class="mr-4 rounded-circle" alt="用户头像" style="width:50px;height:50px;">
						<div class="media-body">
							<h6 class="mt-0 mb-3">
								<a th:href="@{|/article/${map.article.id}|}" th:utext="${map.article.title}">文章标题
								</a>
							</h6>
							<div class="mb-3" th:utext="${map.article.content}">
							   文章内容
							</div>
							<div class="text-muted font-size-12">
								<u class="mr-3" th:utext="${map.user.nickName}">大娃</u> 发布于
								<b th:text="${#dates.format(map.article.createTime,'yyyy-MM-dd HH:mm:ss')}">2022-02-15 17:00:00</b>
								<ul class="d-inline float-right">
									<li class="d-inline ml-2"><i class="mdi mdi-thumb-up-outline"></i>
										<i th:text="${map.likeCount}">10</i></li>&nbsp
									<li class="d-inline ml-2">评论&nbsp<i th:text="${map.article.commentCount}">7</i></li>
								</ul>
							</div>
						</div>
					</li>

				</ul>

				<div class="mt-4" th:if="${#lists.isEmpty(articleLists)}" style="padding: 120px 0;text-align: center;">
					<a style="color: #d3d3d3;"><i class="mdi mdi-48px mdi-magnify fs-22"></i></a></br>
					<p style="color: #d3d3d3; font-size: 18px;">暂无相关结果 ~ ~</p>
				</div>
				<!-- 分页 -->
				<nav class="mt-5" th:replace="index::pagination">
				</nav>
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer">
		</footer>
	</div>

	<script th:src="@{/admin/js/jquery.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/admin/js/popper.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/admin/js/bootstrap.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
</body>
</html>
